/* utility classes */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Lexend Deca', sans-serif;
    background: #000;
}

img {
    max-width: 100%;

    /* max-width: 350px;
    height: auto; */
}

h2 {
    font-family: 'Inter', sans-serif;
}

/* flex container and items */
#flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px;
    height: 100vh;
}

/* flex item on left */
.flex-item-left {
    border-radius: 10px 0px 0px 10px;
    padding: 45px;
    background:#1D1939;
    color: #fff;
    text-align: left;
    width: 400px;
    height: auto;
    /* height: 220px; */

} 

.flex-stat {
    display: inline-block;
    text-align: left;
}

.stat, .gray-text {
    font-size: 10px;
    font-weight: 400;
    color: #817E97;
}

.stat {
    margin: 3px 35px 0px 0px;
}

.gray-text {
    margin: 25px 0px 35px;
    line-height: 1.6;
}

.flex-item h2 {
    margin: 0px 0px 20px;
}

.purple {
    color: #A65EDA;
}

/* flex-item-right */
.flex-item-right {
    color: #fff;
    text-align: left;
    height: auto;
    display: flex;
}

.flex-item-right img {
    width: 355px;
    height: auto;
    border-radius: 0px 10px 10px 0px;
} 

/* responsive */
@media only screen and (max-width: 768px) { 
    #flex-container {
        flex-direction: column-reverse;
        padding: 0px;
    }

    .flex-stat{
        display: block;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .stat {
        margin: 3px 0px 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .flex-item-left, .flex-item-right {
        text-align: center;
        width: 275px;
    }

    .flex-item-right img {
        max-width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    .flex-item-left {
        max-width: 100%;
        border-radius: 0px 0px 10px 10px;
    }
}