* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    /* background: #000; */
}

#flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* border-radius: 10em; 
    overflow: hidden;  something is wrong with getting the corner to round for a flex container*/
}

.flex-item {
    background:#1D1939;
    color: #fff;
    /* border: #ccc solid 2px; */
    text-align: center;
    min-width: 400px;
    max-width: 500px;
}

.flex-item img {
    width: 380px;
    object-fit: cover;
}

.flex-item h2, p {
    padding: 30px;
}

.flex-stat {
    display: inline-block;
    text-align: left;
    border: 3px yellow solid;
}





/* responsive */
@media only screen and (max-width: 375px) { 
#flex-container {
    flex-direction: column-reverse;
    }

.flex-stat {
    display: block;
    flex-direction: column;
    text-align: center;
}
}